# Flutter/Dart gereksiz dosyaları
.dart_tool/
.packages
.pub-cache/
.pub/
/build/

# Android spesifik dosyalar
.gradle/
local.properties
*.kwks
*.keystore
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS spesifik dosyalar
.generated/
*.js
*.d.ts
*.map

# İşletim sistemi çöpleri
.DS_Store
Thumbs.db